*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/securityhotspotstore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/issuestore/3/1/317e8f19161a162493d5ed90947eb57443260db1
/.idea/sonarlint/securityhotspotstore/3/1/317e8f19161a162493d5ed90947eb57443260db1
/.idea/sonarlint/issuestore/4/3/4380591ebed341ddf64e4e66da44ee778fbe9403
/.idea/sonarlint/securityhotspotstore/4/3/4380591ebed341ddf64e4e66da44ee778fbe9403
/.idea/codeStyles
/.idea/compiler.xml
/.idea/sonarlint/issuestore/d/2/d2a4383452aad84a18429a5844d31330a012a9e6
/.idea/sonarlint/securityhotspotstore/d/2/d2a4383452aad84a18429a5844d31330a012a9e6
/.idea/sonarlint/issuestore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/.idea/sonarlint/securityhotspotstore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
